//site color variables
$body-color: #fff;
$bg-color: #dff1f4;
$secondary-color: #ff4d6b;
$primary-color: #5477f8;
$primary-dim-color: hsla(227, 92%, 65%, 0.3);
$text-color: #8c8c94;
$text-color-dark: #273437;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #ededf4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Poppins", sans-serif;
