@import "variables";

@import "plugins/bootstrap.min";

@import "typography";

@import "mixins";

@import "buttons";

@import "components/navigation";

@import "components/hero";

@import "components/video";

//overide

.btn-download {
  padding: 0.25rem 0.75rem;
  font-size: 0.675rem;
  line-height: 1.5;
}
