{{ with .Site.Data.members }}
{{ if .enable }}
<div>
    <div class="mb-4">
        <h5>President</h5>
        
        {{ range .president }}
        <li class="d-block">{{ . }}</li>
        {{ end }}
    </div>
    <div class="mb-4">
        <h5>Secretary</h5>
        
        {{ range .secretary }}
        <li class="d-block">{{ . }}</li>
        {{ end }}
    </div>
    <div class="mb-4">
        <h5>Treasurer</h5>
        
        {{ range .treasurer }}
        <li class="d-block">{{ . }}</li>
        {{ end }}
    </div>
    <div class="mb-4">
        <h5>Executive Committee</h5>
        
        {{ range .organizingCommittee }}
        <li class="d-block">{{ . }}</li>
        {{ end }}
    </div>
</div>
<!-- <section class="faq" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="faq-content">              
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="section-title">
                  <h2>{{ .title }}</h2>
                </div>
              </div>
            </div>
              <p class="text-center">
                {{ .description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
{{ end }}
{{ end }}