{{ define "main" }}

<section class="page-header blog-single-header printable-area  px-4">
  <div class="container">
    <div class="row">

      <div class="row mx-auto text-uppercase" style="display: flex;justify-content: center;align-items: center;gap: 2rem;">
        <img
        class="logo-main"
        src="{{ .Site.Params.logo | absURL }}"
        alt="logo-white"
        style="max-width: 5rem;"
      />
        <h2 class="mb-0">
          {{.Site.Params.companyTitle}}
        </h2>
      </div>
      <div class="col-lg-12 dark-text">REG: {{.Site.Params.registrationNumber}}</div>
      <div class="col-lg-12 dark-text mb-4">{{.Site.Params.address.address}}</div>
        
      <div class="col-lg-12">
        <h2 class="small">
          {{ .Title }}
        </h2>
      <hr>
        <div class="row justify-content-end">
          <div class=" post-meta-min">
            <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
          </div>
      </div>
        <!-- <div class="post-meta">
          <ul>
            <li>
              <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
            </li>
            <li>
              <h5>
                {{ .Params.author }}
              </h5>
            </li>
            <li>
              {{ .PublishDate.Format "January 2, 2006" }}
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <article class="blog-single-post">
          <div class="row">
            <div class="col-md-3 members border-dark mb-4">
              {{ partial "members.html" .}}
            </div>
            <div class="col-md-9 blog-main-content">
            {{ .Content }}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

{{ end }}